body {
  margin: 0;
  padding-bottom: 20px;
}

.App {
  margin: auto;
  text-align: center;
}

h1,
p {
  margin: 0;
}

.canvas--outer {
  text-align: center;
}

.canvas--inner {
  height: 600px;
  margin: auto;
  width: 800px;
}

.reset {
  margin-top: 20px;
}

.setting {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.setting--content {
  border: 2px dashed #999;
  margin: 0 40px;
  padding: 10px;
}

.setting--title {
  font-size: 1rem;
  margin: 0;
  padding: 10px;
}

.setting--btn {
  border-radius: 50%;
  height: 20px;
  margin: 0 10px;
  padding: 0;
  width: 20px;
}
